<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.onthetop.repository.BoardDao">

	<select id="getBoardList" resultType="board">
		SELECT
		*
		FROM
		board
	</select>
	
	<insert id="insertBoard">
	INSERT INTO board(
	name,
	passwd,
	subject,
	content,
	ip,
	reg_date,
	readcount,
	filename
	)
	VALUES(
	#{name},
	#{passwd},
	#{subject},
	#{content},
	#{ip},
	SYSDATE(),
	#{readcount},
	#{filename}
	)
	</insert>

</mapper>
